bin/
boot/
dev/
lost+found/
mnt/
nix/
proc/
root/
run/
sys/
tmp/
usr/
var/
etc/X11
etc/fonts
etc/host.conf
etc/kbd
etc/adjtime
etc/asound.conf
etc/bashrc
etc/dbus-1
etc/default/
etc/fonts/
etc/fstab
etc/group
etc/hosts
etc/inputrc
etc/issue
etc/locale.conf
etc/localtime
etc/login.defs
etc/machine-id
etc/modprobe.d/
etc/modules-load.d/
etc/mtab
etc/NetworkManager/
etc/nix/
etc/NIXOS
etc/pam.d/
etc/passwd
etc/pki/
etc/polkit-1/
etc/profile
etc/nsswitch.conf
etc/openvpn/
etc/os-release
etc/protocols
etc/pulse/
etc/.clean
etc/.pwd.lock
etc/resolv.conf
etc/resolv.conf.bak
etc/resolvconf.conf
etc/rpc
etc/samba/
etc/services
etc/shadow
etc/shells
etc/ssh/
etc/ssl/
etc/static
etc/subgid
etc/subuid
etc/sudoers
etc/sysctl.d
etc/systemd/
etc/tmpfiles.d/
etc/udev/
etc/vconsole.conf
etc/zoneinfo
etc/nixos/hardware-configuration.nix
home/goetzst/.cache
home/goetzst/.WebStorm*
home/goetzst/.IntelliJIdea*
home/goetzst/.m2/
home/goetzst/.compose-cache
home/goetzst/Desktop
home/goetzst/.dmenu_cache
home/goetzst/Documents/
home/goetzst/Downloads/
home/goetzst/.esd_auth
home/goetzst/.gitconfig
home/goetzst/.histfile
home/goetzst/.local/
home/goetzst/.ghc/
home/goetzst/.nix-defexpr/
home/goetzst/.nix-profile
home/goetzst/.pentadactyl/
home/goetzst/Pictures/
home/goetzst/.pki
home/goetzst/.rtorrent/
home/goetzst/.ssh/
home/goetzst/.thunderbird/
home/goetzst/.ts3client/
home/goetzst/.vim/bundle
home/goetzst/.vim/autoload
home/goetzst/.vim/.netrwhist
home/goetzst/.vim/init.vim
home/goetzst/.viminfo
home/goetzst/workspace/
home/goetzst/.xsession-errors
home/goetzst/.zcompdump
home/goetzst/.mpv/filters
home/goetzst/.mpv/scripts
home/goetzst/.mpv/shaders
home/goetzst/.mpv/watch_later
home/goetzst/.mpv/youtube-dl
home/goetzst/.xmonad/xmonad
home/goetzst/.xmonad/xmonad-x86_64-linux
home/goetzst/.xmonad/xmonad.errors
home/goetzst/.xmonad/xmonad.hi
home/goetzst/.xmonad/xmonad.o
home/goetzst/.xmonad/xmonadSave.hs
home/goetzst/.Xauthority
home/goetzst/.fehbg
home/goetzst/.octave_hist
home/goetzst/.python_history
home/goetzst/.cabal/
home/goetzst/.dbus/
home/goetzst/.vimperator/
home/goetzst/.wine/
home/goetzst/.lesshst
home/goetzst/.java/
home/goetzst/.nox/
home/goetzst/.weechat/
home/goetzst/.swt/
home/goetzst/.eclipse/
home/goetzst/.aspell.en.prepl
home/goetzst/.aspell.en.pws
home/goetzst/.pgadmin3
home/goetzst/.stack
home/goetzst/music
home/goetzst/Papers
home/goetzst/currentSemester

home/goetzst/.mozilla/
!home/goetzst/.mozilla/
home/goetzst/.mozilla/*
!home/goetzst/.mozilla/firefox
home/goetzst/.mozilla/firefox/*
!home/goetzst/.mozilla/firefox/9lm3xxgx.default
home/goetzst/.mozilla/firefox/9lm3xxgx.default/*
!home/goetzst/.mozilla/firefox/9lm3xxgx.default/prefs.js

home/goetzst/.config/chromium
home/goetzst/.config/gtk-2.0
home/goetzst/.config/gtk-3.0
home/goetzst/.config/htop
home/goetzst/.config/keepassx
home/goetzst/.config/libreofficedev
home/goetzst/.config/mono.addins
home/goetzst/.config/nvim
home/goetzst/.config/pavucontrol.ini
home/goetzst/.config/Pinta
home/goetzst/.config/pulse
home/goetzst/.config/QtProject.conf
home/goetzst/.config/qutebrowser/bookmarks
home/goetzst/.config/qutebrowser/quickmarks
home/goetzst/.config/qutebrowser/qsettings
home/goetzst/.config/qt5ct/colors
home/goetzst/.config/menus/
home/goetzst/.config/Mumble/
home/goetzst/.config/texstudio
home/goetzst/.config/vimb
home/goetzst/.config/xm1
home/goetzst/.config/zathura
